---
layout: page
title: "About"
description: "Hey, this is ChenJY."
header-img: "img/about_bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0"> 中文 Chinese </option>
    <option value="1" selected> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>从来不求时间为我搁浅。<br>
    今天走的一切弯路，人生他处，必有照应。</p></blockquote>
    <a href="img/resume_jiayangchen.pdf"><img src="https://img.shields.io/badge/%E7%AE%80%E5%8E%86-Resume-blue.svg" alt="Resume in English"></a>
    <p>我是 <b>陈嘉扬</b>，菜鸟程序员 &amp; 十年国画爱好者，江苏省书画协会国画十级。</p>
    <p>我是 上海交通大学 软件工程专业 的大四学生，二专辅修法学。喜爱 电影 &amp; 足球 &amp; 各种画展，江苏苏宁 &amp; 渣团球迷，偶尔去八万人看看上港。</p>

    <p>音乐爱好者，吉他自学中 &amp; 尝试过许多游戏，大多三分钟热度，证明了我基本和游戏无缘，偶尔玩玩，但关注 LPL，目前沉迷<a href="http://hy.163.com/" target="_blank"><b> 荒野行动 </b></a>，iOS 专区 ID 林镜，欢迎一起战斗！</p>
    <p>目前在 <a href="https://tech.meituan.com/about" target="_blank"><b>美团点评</b></a>上海侧基础架构部门实习</p>
    <!--<p>你可以点击获取我的<a href="" target="_blank">&nbsp;<b>中文简历</b></a></p>-->
    <p>非常欢迎交换友链，可以直接在评论中留言，我看到了都会加上去。</b></p>
    
    <blockquote><p>We are hard pressed on every side, but not crushed;<br>
    perplexed, but not in despair; persecuted, but not abandoned;<br>
    struck down, but not destroyed.   ——From the Bible</p></blockquote>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Never hope that time could stop flowing just for me. <br>
    Something that you cannot forget will someday springs up in your life.</p></blockquote>

    <p>Hi, I am <b>JiayangChen</b>, a coding lover and I've been learning Chinese painting for almost ten years.</p>
    <p>Now I'm a senior student at Shanghai JiaoTong University. My major is <i>Software Engineering</i>. I've also chosen to take law as my minor because of interest.</p>
    <p>Meanwhile, I love movies, football and I am one of the fans of <i>JiangsuFC</i> and <i>Real Madrid CF</i>.</p>
    <p>I am a new learner of guitar, unluckily I have no interest in computer games but love watching <a href="http://lpl.qq.com/" target="_blank"><b>LPL games</b></a>.</p>
    <p>Nowadays, I'm working as an intern at <a href="https://tech.meituan.com/about" target="_blank"><i><b>DianPing Inc Shanghai</b></i></a>.</p>

    <blockquote><p>We are hard pressed on every side, but not crushed;<br>
    perplexed, but not in despair; persecuted, but not abandoned;<br>
    struck down, but not destroyed.   ——From the Bible</p></blockquote>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>

{% if site.livere_userid %}
<div class="comment">
    <div id="lv-container" data-id="city" data-uid="{{site.livere_userid}}"></div>
</div>
<!-- 来必力City版安装代码 -->
<script type="text/javascript">
    (function(d, s) {
        var j, e = d.getElementsByTagName(s)[0];

        if (typeof LivereTower === 'function') { return; }

        j = d.createElement(s);
        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        j.async = true;

        e.parentNode.insertBefore(j, e);
    })(document, 'script');
</script>
<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
<!-- City版安装代码已完成 -->
{% endif %}

{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
