---
layout: page
title: "About"
description: "Hey, this is ChenJY."
header-img: "img/about_bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>从来不求时间为我搁浅。<br>
    今天走的一切弯路，人生他处，必有照应。</p></blockquote>

    <p>我是<strong>Eason Chen</strong>，一名程序员 &amp; 十年国画爱好者<br>
    <br>
    我是上海交通大学<b>软件工程专业</b>的一名大四学生，企业信息系统方向，略懂java web、Android开发、NLP，二专辅修<b>法学</b>。
    喜爱电影 &amp; 足球，<a href="http://fc.suning.com/"><b>江苏苏宁</b></a>球迷 &amp; <strong>看闲书，认为阅读是一件有趣的、需要坚持的事</strong></p>

    <p>音乐爱好者，吉他自学中 &amp; 尝试过许多游戏，大多三分钟热度，证明了我基本和游戏无缘，偶尔玩玩</p>
    <p> 在 <a href="http://www.trustkernel.com/"><b>TrustKernel</b></a> 和 <a href="http://www.cmbchina.com/"><b>招商银行信用卡中心</b></a> 实习过</p>
    <p>你可以点击获取我的<a href="/img/上海交大_软件工程_本科应届生_陈嘉扬_可实习时间_2017.09-2018.03.pdf">&nbsp;<b>简历</b></a></p>
    
    <blockquote><p>We are hard pressed on every side, but not crushed;<br>
    perplexed, but not in despair; persecuted, but not abandoned;<br>
    struck down, but not destroyed.   ——From the Bible</p></blockquote>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Never hope that time could stop flowing just for me. <br>
    Something that you cannot forget will someday springs up in your life.</p></blockquote>

    <p>Hi, I am <strong>Eason Chen</strong>, a programmer, study Chinese painting for almost ten years
    <br>
    <br>
    I am a junior majoring in <strong>Software Engineering</strong> of Shanghai JiaoTong University, foucus on information system、data mining, know little about NLP, take law for minor<br>
    Loving movies, football and enjoy reading books, think reading is quite interesting and shoule be kept<br>
    Self-learing guitar, <strong>have tried some popular computer games but finally gave up</strong></p>
    <p>You can click on <a href="/img/上海交大_软件工程_本科应届生_陈嘉扬_可实习时间_2017.09-2018.03.pdf">this</a> to get my CV</p>

    <blockquote><p>We are hard pressed on every side, but not crushed;<br>
    perplexed, but not in despair; persecuted, but not abandoned;<br>
    struck down, but not destroyed.   ——From the Bible</p></blockquote>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
