---
layout: default
title: "Studys"
description: 记录日常学习，包括论文和书籍
header-img: "img/design_patterns.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading photo" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 style="margin-bottom: 20px;">2021 书籍阅读</h3>
            {% for book in site.books.2021 %}
            <div class="row">
                <a href="{{book.url}}" target="_blank" style="color: rgb(6, 197, 245)">《{{book.title}}》</a><span style="margin-left: 2%;color: rgb(168, 172, 172)">{{book.star}}</span>
            </div>
            {% if book.comment %}
            <div class="row">
                <span style="margin-left: 2%;color: rgb(168, 172, 172);font-size:16px;font-weight: lighter;">{{book.comment}}</span>
            </div>
            {% endif %}
            {% endfor %}
            <h3 style="margin-bottom: 20px;">2020 书籍阅读</h3>
            {% for book in site.books.2020 %}
            <div class="row">
                <a href="{{book.url}}" target="_blank" style="color: rgb(6, 197, 245)">《{{book.title}}》</a><span style="margin-left: 2%;color: rgb(168, 172, 172)">{{book.star}}</span>
            </div>
            {% if book.comment %}
            <div class="row">
                <span style="margin-left: 2%;color: rgb(168, 172, 172);font-size:16px;font-weight: lighter;">{{book.comment}}</span>
            </div>
            {% endif %}
            {% endfor %}
            <h3 style="margin-bottom: 20px;">2019 书籍阅读</h3>
            {% for book in site.books.2019 %}
            <div class="row">
                <a href="{{book.url}}" target="_blank" style="color: rgb(6, 197, 245)">《{{book.title}}》</a><span style="margin-left: 2%;color: rgb(168, 172, 172)">{{book.star}}</span>
            </div>
            {% if book.comment %}
            <div class="row">
                <span style="margin-left: 2%;color: rgb(168, 172, 172);font-size:16px;font-weight: lighter;">{{book.comment}}</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h3 style="margin-bottom: 20px;">论文阅读</h3>
            {% for paper in site.papers %}
            <div class="row">
                <a href="{{paper.url}}" target="_blank" style="color: rgb(6, 197, 245)">{{paper.title}}</a>
            </div>
            <div class="row">
                <span style="display: block;margin-left: 0;color: rgb(168, 172, 172);font-size: 16px;font-weight: lighter;">{{paper.desc}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if site.livere_userid %}
            <div class="comment">
                <div id="lv-container" data-id="city" data-uid="{{site.livere_userid}}"></div>
            </div>
            <!-- 来必力City版安装代码 -->
            <script type="text/javascript">
                (function(d, s) {
                    var j, e = d.getElementsByTagName(s)[0];
            
                    if (typeof LivereTower === 'function') { return; }
            
                    j = d.createElement(s);
                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                    j.async = true;
            
                    e.parentNode.insertBefore(j, e);
                })(document, 'script');
            </script>
            <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
            <!-- City版安装代码已完成 -->
            {% endif %}
        </div>
    </div>
</div>