---
title: Photos
layout: default
description: Seeing | Photoing | Enjoying
header-img: "img/photo.jpg"
---

<style>
    #tag-heading.photo {
        padding: 70px 0 60px;
    }
    @media only screen and (min-width: 768px) {
        #tag-heading.photo {
            padding: 120px 0;
        }
    }
</style>
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading photo" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
    
<div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="/photos/museum.jpg" alt="Chania">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                    </div>
                
                    <div class="item">
                    <img src="/photos/stadium.jpg" alt="Chicago">
                    <div class="carousel-caption">
                        <h3>Chicago</h3>
                        <p>Thank you, Chicago!</p>
                    </div>
                    </div>
                
                    <div class="item">
                    <img src="/photos/military_training.jpg" alt="New York">
                    <div class="carousel-caption">
                        <h3>New York</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                    </div>
                </div>
                
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
</div>
    <!--<table>
        <tr>
            <td>
    
                <div>
                    <img width="254" height="317" src="/photos/museum.jpg">
                    <ul style="list-style-type:none">
                        <li>
                                <p style="font-size:14px"><b>唐朝彩色侍女佣像</b><br>
                                2016年中秋摄于上海博物馆 </p>
                    </li>
                    </ul>
                </div>
            </td>
    
            <td>
    
                <div>
                    <img width="317" height="317" src="/photos/stadium.jpg">
                    <ul style="list-style-type:none">
                        <li>
                                <p style="font-size:14px"><b>2015年中超联赛首轮</b><br>
                                2015年3月摄于上海八万人体育场 </p>
                    </li>
                    </ul>
                </div>
            </td>
       </tr>
       
       <tr>
           <td>
               <div>
                    <img width="400" height="236" src="/photos/military_training.jpg">
                    <ul style="list-style-type:none">
                        <li>
                                <p style="font-size:14px"><b>大一暑假军训晚会</b><br>
                                2015年9月摄于上海交大新体育馆 </p>
                    </li>
                    </ul>
                </div>
           </td>
           <td>
                <div>
                    <img width="310" height="236" src="/photos/binjiang_park.jpg">
                    <ul style="list-style-type:none">
                        <li>
                                <p style="font-size:14px"><b>初春公园出游掠影</b><br>
                                2016年4月摄于闵行区滨江公园外 </p>
                    </li>
                    </ul>
                </div>
           </td>
       </tr>
       <tr>
           <td>
               <div>
                    <img width="310" height="310" src="/photos/Hackathon.jpg">
                    <ul style="list-style-type:none">
                        <li>
                                <p style="font-size:14px"><b>2016 Microsoft Penta-Hackathon</b><br>
                                2016年11月摄于微软紫竹亚研院 </p>
                    </li>
                    </ul>
                </div>
           </td>
           <td>
                <div>
                    <img width="310" height="236" src="/photos/love.jpg">
                    <ul style="list-style-type:none">
                        <li>
                                <p style="font-size:14px"><b>球场看台的求婚</b><br>
                                2017年5月摄于上海八万人体育场 </p>
                    </li>
                    </ul>
                </div>
           </td>
       </tr>
    
       <tr>
           <td>
               <div>
                    <img width="310" height="159" src="http://o9oomuync.bkt.clouddn.com/blog%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170921161442.jpg">
                    <ul style="list-style-type:none">
                        <li>
                                <p style="font-size:14px"><b>台风来临前的晚霞</b><br>
                                2017年09月摄于东26楼寝室阳台 </p>
                    </li>
                    </ul>
                </div>
           </td>
           <td>
                <div>
                    <img width="310" height="236" src="http://o9oomuync.bkt.clouddn.com/blog%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170921164059.jpg">
                    <ul style="list-style-type:none">
                        <li>
                                <p style="font-size:14px"><b>在东南偶遇拍毕业照</b><br>
                                2017年09月摄于东南大学四牌楼校区 </p>
                    </li>
                    </ul>
                </div>
           </td>
       </tr>


   </table>-->
    