---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hux - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<!--<img width="190" height="190" src="images/hux_avatar.png">-->
				<h1>EasonChen</h1>
				<p>A student major in Software Engineering<br>
					Loving movies, football and enjoy reading books for fun<br><br><br>
                    In this section, I'd like to introduce some of my works during my university study.<br>
                    This works have witnessed the growth of my programming skills.</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">

					<li>
						<div class="cbp_tmlabel">
							<h2 id="busyweek">Emotion Theme</h2>
							<time>2016.11</time>
							<img src="images/emotiontheme.jpg">
							<ul>
								<li>
									<b>Emotion Theme</b> is A Python program based on Emotion recognition which can be used to 
									change wallpaper and PC’s theme color and  emotion regulation.It is a project developed during 
									2016 Microsoft Penta-Hackathon in Zizhu Shanghai and the other three contributors are ZhanChen,
									DongLiang and DangYingming. It is a great honor to be with them and we have made this idea come true
									in just 24 hours.
								</li>
								<li class="skill">
									<span class="pc"></span>
									<span><b>Python</b></span>
									<span class="link"><a target="_blank" href="https://github.com/jiayangchen/Emotion_Theme">See it</a></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">App Autoer</h2>
							<time>2016.09</time>
							<img src="images/autoer.png">
							<ul>
								<li>
									Autoer is an app designed to be a <b>driver helper</b>, which can be used to bind car and manage its information, make an appointment to refuel, play music, analysis data statistics, read News, weather and maintenance information.<br>
                                    This is my summer vacation homework and costs me two months to implement. During this period, I am also gradually become familiar with android development.
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>AS</b></span>
									<a target="_blank" href="https://developer.android.com/index.html"><span class="android"></span></a>
									<span class="link"><a target="_blank" href="https://github.com/jiayangchen/MyLeanCloud">See it</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="busyweek">Diaosi Hero</h2>
							<time>2016.04</time>
							<img src="images/diaosihero.jpg">
							<ul>
								<li>
									<b>Diaosi Hero</b> is a shooting game based on Unity 3D. In this game, the player can use the gun to shoot zombies and the shooting moment, death and sreaming will all accompanied by sound.
                                    There is also blood bottles randomly set up on the ground which can be used to prolong the player's life. The zombies will keep coming down from the three pyramids and run towards you, <b>be careful!!</b>
                                    <br>It is my first time to use Unity, so I choose to follow a <a target="_blank" href="https://www.coursera.org/learn/unity-yinqing-youxi-kaifa/home/welcome">course</a> in the Coursera. If you want to preliminary 
                                    learn about Unity, I strongly recommend this course to you. 
								</li>
								<li class="skill">
									<span class="pc"></span>
									<span><b>C#</b></span>
									<a target="_blank" href="https://unity3d.com/cn/"><span class="unity"></span></a>
									<span class="link"><a target="_blank" href="http://huangxuan.me/BusyWeek/dist/">See it</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>Data Visualization</h2>
							<time>2015.08</time>
							<img src="images/data_visualization.png">
							<ul>
								<li>
									This is a <b>Data Visualization Analysis Report</b> based on the Chinese Football Super League, which is also my interest. In this report, I use  
                                    <a target="_blank" href="http://echarts.baidu.com/">E-charts</a> with javascript to draw graphs and you can click <b>See PDF</b> to read the whole
                                    report written in chinese.<br> This is a kind of present work just for fun. And my next goal is to design a evaluation model based on big data which can 
                                    predict the performance of a player in a football match or even simulate the process of a real football match. 
								</li>
								<li class="skill">
									<span class="pc"></span>
									<span><b>JS</b></span>
									<a target="_blank" href="http://echarts.baidu.com/"><span class="echarts"></span></a>
									<span class="link"><a target="_blank" href="images/data_visualization.pdf">See PDF</a></span>
								</li>
							</ul>
						</div>
					</li>
					<!--<li>
						<div class="cbp_tmlabel">
							<h2>SENOVA WebApp</h2>
							<img src="images/senova.jpg">
							<ul>
								<li>《多媒体交互设计一》结课作业，以北汽“绅宝”为目标品牌，iPad 为主要平台进行的 App 设计，旨在用一种可交互的方式介绍“绅宝”车型。完全采用 Html5 技术开发，可添加至主屏幕离线运行。着力于触控交互体验的优化与优雅的动画设计。</li>
								<li>Responsible : Front-End，Interaction，Product</li>
								<li>Partner : ZOE-张瑜</li>
								<li class="skill">
									<span class="cbp_tmicon-html"></span>
									<span class="fa fa-css3"></span>
									<span><b>JS</b></span>
									<span class="link"><a target="_blank" href="http://huangxuan.me/senova/">Link</a></span>
								</li>
							</ul>
						</div>
					</li>-->
					<!--<li>
						<div class="cbp_tmlabel">
							<h2 id="hslider">jQuery.HSlider</h2>
							<time>2013.10</time>
							<img src="images/work-hslider.jpg">
							<ul>
								<li>
									HSlider, a full-page scrolling, touch-friendly jQuery slider plugin for mobile and modern desktop browser only. All its animations are powered by CSS3 with GPU acceleration and URL sharing with hash is supported.
								</li>
								<li class="skill">
									<span class="fa fa-css3"></span>
									<span><b>JS</b></span>
									<span class="i-jquery"></span>
									<span class="link"><a target="_blank" href="http://www.tudou.com/programs/view/Xa-pGW55N4g/">Github</a></span>
								</li>
							</ul>
						</div>
					</li>-->
					<!--<li>
						<div class="cbp_tmlabel">
							<h2>《真相不止一个》</h2>
							<time>2013.10</time>
							<img src="images/work-truth.jpg">
							<ul>
								<li>Motion Graphic Design, powered by Adobe After Effect and cooperate with amazing artist <a href="https://www.behance.net/psychofish">@Psycho_fish</a></li>
								<li class="skill">
									<span><b>Ae</b></span>
									<span class="cbp_tmicon-video"></span>
									<span class="link"><a target="_blank" href="http://www.tudou.com/programs/view/Xa-pGW55N4g/">View</a></span>
								</li>
							</ul>
						</div>
					</li>-->
					<!--<li>
						<div class="cbp_tmlabel">
							<h2>Intern @LxU Studio</h2>
							<time>2013.06 - 08</time>
							<img src="images/intern-lxu.jpg">
							<ul>
								<li>
									As a <b>Intern Motion Graphic Designer</b>, I participated in several creative advertising virus videos for our clients including Baidu and Continental.
								</li>
								<li class="skill">
									<span><b>Ae</b></span>
									<span class="cbp_tmicon-video"></span>
									<span class="link"><a target="_blank" href="http://weibo.com/lxustudio">@LxU</a></span>
								</li>
							</ul>
						</div>
					</li>-->
					<!--<li>
						<div class="cbp_tmlabel">
							<h2>Puzzled Hybrid</h2>
							<time>2013.06</time>
							<img src="images/work-puzzle.png">
							<ul>
								<li> This font is parts of the course work of <b>Design Basis</b>, which mix Serif fonts, Sans-serif fonts and...zebra-stripe! Why I design it like that is still a puzzle to me, and the intro video is available below.
								<li class="skill">
									<span class="cbp_tmicon-font"></span>
									<span><b>Ps</b></span>
									<span><b>Ae</b></span>
									<span class="link"><a target="_blank" href="http://www.tudou.com/programs/view/DtG8SaFAoXU/">View</a></span>
								</li>
							</ul>
						</div>
					</li>-->
					<!--<li>
						<div class="cbp_tmlabel">
							<h2>Home - UI Design</h2>
							<time>2012.11</time>
							<img src="images/work-uihome.jpg">
							<ul>
								<li>
									Participated in the students team with Huang Yi and Nie Ruijie as the UI Motion Designer. Won the first prize in 7th national IT application competition
								</li>
								<li class="skill">
									<span><b>Fl</b></span>
									<span class="link"><a target="_blank" href="http://animation.cuc.edu.cn/2c90943227f186ba0127f18a7ff10009/view/394">News</a></span>
								</li>
							</ul>
						</div>
					</li>-->
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
